@model StokTakipSistemi.Models.Fatura

@{
    ViewData["Title"] = "Oluştur";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                @ViewData["Title"]
                <small>Yeni fatura oluştur</small>
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a asp-action="Index" class="waves-effect waves-block">Listeye geri dön</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <h2 class="card-inside-title">Form</h2>
            <div class="row clearfix">
                @if (ViewBag.Errors != null)
                {
                    @foreach (var item in ViewBag.Errors)
                    {
                        <p class="col-pink">@item.ErrorMessage</p>
                    }
                }
            </div>
            <div class="row clearfix">
                <form asp-action="Create" method="post">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="Tarih" type="date" class="form-control" placeholder="Tarih" />
                                <span asp-validation-for="Tarih" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <select class="form-control" asp-for="UrunSaglayiciId" asp-items="ViewBag.Providers">
                                    <option value="">Ürün Sağlayıcı Seçiniz</option>
                                </select>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Siparişler
                                </h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <br />
                            <div class="body table-responsive">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Urun</th>
                                                    <th>Adet</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="orders"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select class="form-control" id="productSelect">
                                            <option>Ürün Seçiniz</option>
                                            @foreach (var item in ViewBag.Products)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" id="count" class="form-control">
                                    </div>
                                    <a href="#orders" id="add" class="btn btn-default">Ekle</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="submit" class="btn btn-block btn-lg btn-default waves-effect" id="create" value="Oluştur">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        var orders = [];

        $("#add").click(function () {

            var count = $("#count").val();
            var product_text = $("#productSelect option:selected").text();
            var product_id = $("#productSelect option:selected").val();
            console.log(product_text);
            console.log(product_id);
            console.log(count);

            if (product_text == "Select Product" || count < 1) {
                console.log("hata");
                return;
            }

            $("#orders").append('<tr id="' + product_id + '"><td>' + product_text + '</td><td>' + count + '</td><td>Action</td><td><button class="btn btn-danger" href="#" id="delete">Delete</button></td></tr>');
            orders.push({ "productId": product_id, "count": count });
            console.log(orders);
        });

        $("#orders").on('click', '.btn-danger', function () {
            $(this).closest('tr').remove();
        });

        $('#create').on('click', function (e) {
            e.preventDefault();
            var bill = {
                date: $('#Date').val(),
                providerId: $('#ProviderId option:selected').val(),
                orders: orders
            };

            console.log(bill);

            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("Create", "Bill")',
                data: JSON.stringify(bill),
                dataType: 'json',
                success: function (response) {
                    alert(response.message);
                    window.location.replace('@Url.Action("Index", "Bill")');
                },
                error: function (response) {
                    console.log(response.message);
                }
            });
        });
    });
</script>